NET "clk_in"         LOC = "E12"| IOSTANDARD = LVCMOS33 ;
NET "reset"       LOC = "T15" | IOSTANDARD = LVCMOS33 | PULLDOWN ; 
NET "clk_out"     LOC = "AB10" | IOSTANDARD = LVCMOS33; 

net "txd"  LOC = "F15" | IOSTANDARD = LVCMOS33;

net "txd_io"  LOC = "V14" | IOSTANDARD = LVCMOS33;


#NET "RS232_DCE_RXD" LOC = "E16" | IOSTANDARD = LVTTL ;#NET "RS232_DCE_TXD" LOC = "F15" | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;

net "pc<0>"  LOC = "B4" | IOSTANDARD = LVCMOS33;
net "pc<1>"  LOC = "A4" | IOSTANDARD = LVCMOS33;
net "pc<2>"  LOC = "A5" | IOSTANDARD = LVCMOS33;
net "pc<3>"  LOC = "B6" | IOSTANDARD = LVCMOS33;
net "pc<4>"  LOC = "A6" | IOSTANDARD = LVCMOS33;
net "pc<5>"  LOC = "A7" | IOSTANDARD = LVCMOS33;
net "pc<6>"  LOC = "A8" | IOSTANDARD = LVCMOS33;
net "pc<7>"  LOC = "A9" | IOSTANDARD = LVCMOS33;

#NET "CLK" PERIOD = 20.0ns HIGH 40%;


NET "LED<7>" LOC = "W21" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ; 
NET "LED<6>" LOC = "Y22" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ; 
NET "LED<5>" LOC = "V20" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ; 
NET "LED<4>" LOC = "V19" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ; 
NET "LED<3>" LOC = "U19" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ; 
NET "LED<2>" LOC = "U20" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ; 
NET "LED<1>" LOC = "T19" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ; 
NET "LED<0>" LOC = "R20" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;